.filters

    padding-bottom PADDING
    margin-top 20px
    margin-bottom 20px

    input
    select
        padding INPUT_PADDING

    a
        text-decoration underline
        cursor pointer
        color blue

    .text
        padding-left 10px
    .add-another
    .filter-selector
        padding 10px

    .filter-selector
        @extend .u-flex-row
        padding 10px
        align-items center
        align-content flex-start
        .filter
            flex 1
        .filter-by
            margin-right 10px

        .filter-by
        .filter
        select
        button
            display inline-block



    .filter

        input.date-field
            width 200px

        .date-field
        .time-field
        select
            display inline-block

        .from
        .to
            margin-left 10px
            margin-right 10px