.period-list
    .period
        padding-top 20px
        h2
            margin 0em
            font-size 1.3em
            color DAY_NORMAL_COLOR
            padding 0.8em 0.5em
            margin-bottom 2px

        &.exceeded
            h2
                color DAY_EXCEEDED_COLOR
                text-transform uppercase

    .date
    .calories
        font-style italic