.app
    .config-panel
        padding PADDING
        position relative
        td
        .status
            padding 5px

        .status
            padding-top 15px
            font-weight bold

        button
            margin-top 10px
            padding 5px

        .editor
            input
            select
                width 300px
                padding INPUT_PADDING
